body{
   background-color: burlywood;
}

.container{
   border: 1px solid red;
   display: grid; /* Siempre  debes especificar las columnas*/
   grid-template-columns:  auto auto auto auto;
   grid-template-rows: 150px 50px 30px;
   row-gap: 10px; /* Espacio entre filas*/
   column-gap: 10px; /* Espacio entre columnas*/
}

.caja {
   border: 1px solid blueviolet;
}

.c1 {
  /* grid-column:  1 / 4; Columna 1 a columna 2*/
  grid-column: span 3; /* Ocupa 3 columnas*/
  grid-row: span 2; /* Fila 1 a fila 2*/
}

.c2 {
   grid-row: span 2; /* Ocupa 2 filas */
   grid-column: span 2;
}